/* global setup  =========================================================== */
/* color palet 
067AEF  1085F9 248FFA 248FFA  4CA3FB  60AEFB
 */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif ;
  /* font-family: 'Helvetica'; */
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
	width: 100%;
  margin: 0%;
	height: auto;
	display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button{
  margin-left: 1%;
  font-size: 2vw;
  background-color: #248FFA;
  color: white;
  padding: 1vh 2vw;
  border-radius: 20px;
  text-decoration: none;
}
/* BG set up ============================================================== */
.BG{ 
  background-image:url(./images/triangle.cee26124.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 85vw;
  height: 100vh;
  z-index: -1;
}
#bottom_BG{
  right: 0;
  transform: rotate(180deg);
}

/* all you need for headings ================================== */
.heading_dot{
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  margin-left:10px ;
  background-color: #248FFA;

}
.heading_containar{
  font-size: 3vw;
  width: max-content;
  display: flex;
  align-items: flex-end;
  width:fit-content; 
}

.heading_containar h1{
  padding: 5px;
  margin: 0%;
}

.underline{
  width: 0px;
  height: 5px;
  background: red;
  transition: width 0.5s;
  transition-timing-function: ease-in-out;
}

/* caret-down ================================================= */
.caret-down{
  width: 100vw;
  margin: auto;
  text-align: center;
  font-size: 3vw;
  color: white;
  position: fixed;
  z-index: 10;
  transition:all .5s ease;

}

/* nav-bar ==================================================== */
.nav_bar_container {
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 10;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #248FFA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.nav-bar {
  white-space: nowrap; 
  color: white;
  font-size: 2vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#nav-list li{
  display: inline;
  padding: 2px 5px;
  text-decoration: none;
}
#nav-list li a {
  font-size: 2vw;
  text-decoration: none;
  color: white;
  /* letter-spacing: .15rem; */
  padding: 2px 10px;
}
.nav-bar a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* nav bar animation */
.nav_bar_container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.nav_bar_container:hover .caret-down{
  transform:translateY(70px);
}

/* mobile-nav-bar  ================================================ */

#mobile-menu {
  display: none;
  z-index: 10;
  position: fixed;
}
#mobile-menu-bar {
  border-radius: 60px;
  width: 45px;
  height: 40px;
  padding: 30px 20px 10px 20px;
  cursor: pointer;
  background-color: white;
}
.bar {
  height: 5px;
  width: 30px;
  background-color: #248FFA;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.mobile-menu-bg, #mobile-menu {
  top: 0;
  left: 0;
  position: fixed;
}

.mobile-menu-bg {
  z-index: 9;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #248FFA, #248FFA);
  border-radius: 50%;
  transition: 0.3s ease;
  position: fixed;
}
.change #mobile-menu-bar{
  background-color: rgb(0,0,0,0);
}
.change-nav {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform:    translate(-60%,-30%);
}

/* hero design ==================================================== */

#hero {
  margin: 0%;
  padding-top: 15vh;
  padding-left: 42vw; 
  right: 0%;
  top: 0%;
  position: relative;;
  width: fit-content;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero_title{
  margin: 5%;
}
.hero_title h2{
  font-size: 3vw;
}
#last_name{
  padding-left: 2vw;
  font-family: 'Calibri Light';
}
.hero_title p{
  font-size: 2vw
}



/* about me design ==================================================== */

#about{
  flex-direction: column;
  align-content: center;

  margin-left: 5vw;
  margin-top: 20vh;
}
#about_info{
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}
.about_img img{ 
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  padding: 10%;
}
#about_text{
  width: 50vw;
  font-size: 2vw
}
#resume_btn{
  margin-top: 4vh;
}
#resume{
  margin-top:5%;
}

.about_info:hover #about_heading_underline{
  width: 300px;
}
/* experience design ==================================================== */

#experience{
  flex-direction: column;
  align-content: center;

  margin-left: 5vw;
  margin-top: 20vh;
}

.experience_body{
  margin-top:  8vh;
  margin-bottom: 10vh;
  font-size: 2vw;
  display: flex;
  justify-content: space-evenly;
  width: 93vw;
}
.flip-card{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 25vw;
  height: 48vh;
}
/* card animation */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  background-color: #067AEF;
  color: white;
  transform: rotateY(180deg);
}

/* Hire3e me and follow me  */







@media only screen and (max-width: 768px) {
  /* nav bar and hamburger */
  .caret-down{
    display: none;
  }
  #mobile-menu{
    display: block;
    position: fixed;
  }
  .nav_bar_container{
    display: none;
    z-index: -1;
  }
  .overlay{
    display: none;
  }

  /* hero  */

}